/* CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

/* Styles */

* {
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

#book-display {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.book-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.book-card p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.book-card .read-status {
    font-weight: bold;
    color: #007BFF;
}

.book-card .not-read-status {
    font-weight: bold;
    color: #FF0000;
}

#book-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#book-form input,
#book-form button {
    margin-bottom: 10px;
    padding: 10px;
}

.hidden {
    display: none;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.toggle-btn {
    color: black;
    background-color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.toggle-btn:hover {
    text-decoration: underline;
    color: black;
    background-color: #ffffff;
}